hero類型＝{{h}}

<h2>{{h.name | uppercase}}</h2>
<div><span>id:</span>{{h.id}}</div>
<div><span>name:</span>{{h.name}}</div>

<!-- 雙向綁定 -->
<div>
  <label>name:
    <input [(ngModel)]="h.name" placeholder="name">
  </label>
</div>


<h2>My Heroes</h2>
heroes類型＝{{hs}}
<ul class="heroes">
  <li *ngFor="let H of hs" 
      [class.selected]="H === selectedHero"
      (click)="onSelect(H)">
    <span class="badge">{{H.id}}</span> {{H.name}}
  </li>
</ul>

<!-- <div *ngIf="selectedHero">

  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>

</div> -->

<app-hero-detail [hero]="selectedHero"></app-hero-detail>